form{
        margin: 10px auto;
        border: 2px solid darkgrey;
}
tbody,tr,td{
        width:30%;
        padding: 0.5% 0;
}
.headings{      
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;     
}
.wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        border:1px solid royalblue;
        background: #b33a16
    }
body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }
    
    
    ul  {
        font-size: 0.9em !important;
        padding-left: 30px !important;
      
        list-style-type: none !important;
        cursor: pointer;
        display: block;
    }
    li{
            margin: 1em 0;
            display: block;
            background: #6d7fcc;
    }
    #content{
        margin-left: 3%;
       color:whitesmoke
    }
