<header style="text-align: center;background-color:aqua">Welcome to Angular 6 Basic 01 APP</header>
<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
  </div>
  <ul>
    <li (click)="gotoHome()">Home</li>
    <li (click)="gotoRegister()">Register</li>
    <li (click)="gotoRecords()">Show List</li>    
  </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
      <!-- We'll fill this with dummy content -->
      <p>
        <router-outlet></router-outlet>
      </p>
  </div>

</div> 
<footer style="position: relative;bottom: 0px;text-align: center;background: black;color:white;">&copy; 2018</footer>
